<header class="app-header">
    <div class="logo-container">
      <img src="/assets/images/logo.png" alt="Logo" class="logo" />
    </div>
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active">Главная</a>
      <a routerLink="/popular" routerLinkActive="active">Популярное</a>
      <a routerLink="/favorites" routerLinkActive="active">Избранное</a>
      <a routerLink="/profile" routerLinkActive="active"><img src="/assets/images/profile.png" alt="profile"></a>
    </nav>
  </header>
  