".vs/" 
.vs/MovieRecommendationAPI/FileContentIndex/c62c37eb-eb1c-4e5e-9520-0571a475a389.vsidx
.vs/MovieRecommendationAPI/FileContentIndex/ed9b45df-f564-4099-8313-d616385a19ea.vsidx
.vs/MovieRecommendationAPI/v17/.suo
.vs/MovieRecommendationAPI/v17/DocumentLayout.backup.json
.vs/MovieRecommendationAPI/v17/DocumentLayout.json
.vs/MovieRecommendationAPI/FileContentIndex/a92ec7d4-0412-41a9-9628-18a3dc1ee5b5.vsidx
.vs/MovieRecommendationAPI/FileContentIndex/920a2fe3-9fe4-48eb-b07d-78924697a329.vsidx
